/* Resets */
body {
  margin: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/* Variables */
:root {
  --color-black-50: #36393f;
  --color-black-70: #2f3136;
  --color-black-90: #202225;

  --color-blue: #5865f2;
}

/* Components */
.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: var(--color-black-90);
  border-radius: 10px;
}

.screen-bar {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
  gap: 28px;
}

.screen-contents {
  display: flex;
  flex-grow: 1;
}

.channels {
  width: 70px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 8px 0;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.me::after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: var(--color-black-50);
  border-radius: 1px;
}

.profile {
  width: 48px;
  height: 48px;
  border-radius: 13px;
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2 linear;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.friends {
  width: 240px;
  background-color: var(--color-black-70);
}

.contents {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  background-color: var(--color-black-50);
}

.status {
  width: 417px;
  background-color: var(--color-black-50);
}
