/* Resets */
body {
  margin: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/* Variables */
:root {
  --color-black-90: #202225;
}

/* Components */
.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: var(--color-black-90);
  border-radius: 10px;
}

.screen-bar {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;

  padding-left: 12px;
  padding-right: 9px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 28px;
}

.screen-contents {
  display: flex;
  flex-grow: 1;
}

.channels {
  width: 70px;
  box-shadow: inset 0 0 20px red;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.main-friends {
  width: 240px;
  box-shadow: inset 0 0 20px blue;
}

.main-contents {
  flex-grow: 1;
  box-shadow: inset 0 0 20px pink;
  flex-basis: 0;
  min-width: 0;
}
